<% var month = ["", "Jan", "February ", "March", "April", "May", "June", "July",
                "August", "September", "October", "November", "December"] %>

<div class="col-xs-4 pull-left list-group-item-heading">
  <% if (model.escape('thumbnailUrl')) { %>
    <img src="<%= model.escape('thumbnailUrl') %>" class="img-responsive img-circle"
      alt='<%= model.escape("firstName") + " " + model.escape("lastName")%>'>
  <% } %>
</div>

<div class="col-xs-8 list-group-item-text">
  <div class="lead">
    <%= model.escape("prefix") %>
    <%= model.escape("firstName") %>
    <%= model.escape("lastName") %>
  </div>

  <div class="">
    <% if (!+model.escape("deathMonth")) { %>
      <%= month[+model.escape("deathMonth")] %>
      <%= (+model.escape("deathDay")) || "" %>
    <% } %>
    <%= +model.escape("deathYear") && model.escape("deathYear") || "" %>
  </div>
</div>

<!-- {
  "memorialId": "11954358",
  "firstName": "John",
  "middleName": "",
  "lastName": "Nash",
  "maidenName": "",
  "prefix": " Private",
  "suffix": "",
  "birthMonth": "",
  "birthDay": "",
  "birthYear": "",
  "deathMonth": "8",
  "deathDay": "16",
  "deathYear": "1917",
  "cemeteryId": "2152531",
  "cemeteryName": "Tyne Cot Memorial",
  "cemeteryCityName": "Zonnebeke",
  "cemeteryCountyName": "Arrondissement Ieper",
  "cemeteryStateName": "West Flanders (West-Vlaanderen)",
  "cemeteryStateAbbrev": "",
  "cemeteryCountryName": "Belgium",
  "cemeteryCountryAbbrev": "",
  "intermentHasPhoto": "Y",
  "distance": "0.00",
  "thumbnailUrl": "http://image2.findagrave.com/photoThumbnails/photos/2006/173/Panel97cLargeJPG.jpg"
}, -->
