<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2>Find a memorial here</h2>
      </div>
    </div>

    <div class="row search-form">
      <form class="col-xs-8 col-xs-offset-2">

        <div class='form-group'>
          <label for="first-name">First Name: </label>
          <input
          name="name[first]"
          type="text"
          placeholder="First Name"
          value="<%= firstName %>"
          id="first-name"/>
        </div>

        <div class='form-group'>
          <label for="last-name">Last Name: </label>
          <input
          name="name[last]"
          type="text"
          placeholder="Last Name"
          value="<%= lastName %>"
          id="last-name"/>
        </div>

        <div class='form-group'>
          <input class="search-submit btn btn-success" value="Search" type="submit"/>
        </div>
      </form>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="controls centered-text">
            <div class="dropdown btn">
              <div class="dropdown-toggle" id="display-limit" data-toggle="dropdown">
                Displaying <%= limit %>
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu">
                <% [10, 20, 50, 100, 200].forEach(function(i){ %>
                  <li>
                    <a href="javascript:void(0)" data-limit="<%= i %>" class='btn'><%= i %></a>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <ul class="list-group" id="memorial-index-list"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->
